a {
  text-decoration: none;
  font-family: monospace;
}

a:visited {
  color: #CCCCCC;
}

nav {
  padding: 12px;
  margin: 0;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-wrapper {
  display: flex;
}
.main-title {
  font-size: 28px;
}

.text-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}
