html {
  background-color: #1D1D1D;
  color: #CCCCCC;
  font-family: monospace; 
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

a:hover{
  color: #AAFFAA !important;
  transition: 200ms;
}

